# Clerk
# Clerk publishable key (required)
VITE_CLERK_PUBLISHABLE_KEY=

# Convex
# Convex deployment name
CONVEX_DEPLOYMENT=
# Convex deployment URL (required)
VITE_CONVEX_URL=

# Test user creds
VITE_TEST_USER_EMAIL=
VITE_TEST_USER_PASSWORD=